@charset "utf-8";

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf') format("truetype");
  font-display: swap;
}

/* @font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
      format("truetype");
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
}

img {
  border: 0;
  vertical-align: middle;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background: #f5f5f5;
}

body {
  font-family: "Pretendard-Regular", "Pretendard", "GmarketSansMedium",
    "NanumSquareNeo-Variable";
  color: #222222;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  word-break: keep-all;
}

/* 공통 */
.wrap {
    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
@media screen and (max-width:1400px){
    
    .wrap{
        padding: 0 1rem;
    }
    header .wrap {
        padding: 0 1rem;
    }
}
@media screen and (max-width:500px){
    
    .wrap{
        padding: 0 10px;
    }
    header .wrap {
        padding: 0 10px;
    }
}
.title {
    padding: 100px 0 70px 0;
    font-size: 6rem;
    font-weight: 700;
    color:#2a425d;
}
.content {
    /* height: 100%; */
    margin-bottom: 70px;
}
@media screen and (max-width:768px){
    .title {
        padding: 70px 0 50px 0;
        font-size: 5rem;
    }
    .content {
        margin-bottom: 50px;
    }
}
@media screen and (max-width:500px){
    .title {
        padding: 50px 0 30px 0;
        font-size: 3.5rem;
    }
    .content {
        margin-bottom: 30px;
    }
}


/* 헤더 */
header {
    width: 100%;
    height: 90px;
    background: #b5cbde86;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 999;
}
.nav {
    display: flex;
    justify-content: space-between;
}
header .logo {
    height: 80px;
    background: url(../img/logo.png) no-repeat left center;
    background-size: contain;
    margin: 5px 0;
}
header .logo p {
    margin-left: 90px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    padding: 27px 0;
}

header .gnb li {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 33px 1.5rem ;
}
header .gnb li:last-child {
    padding: 33px 0 33px 1.5rem ;
}
header .gnb li a {
    color: #fff;
}

@media screen and (max-width:1000px){
    header .gnb li {
        padding: 34px 0.7rem ;
    }
    header .gnb li:last-child {
        padding: 34px 0 34px 0.7rem ;
    }
}
@media screen and (max-width:768px){
    header .logo { width: 80px;}
    header .logo p {
        display: none;
    }
    header .gnb li {
        padding: 34px 0.7rem ;
    }
    header .gnb li:last-child {
        padding: 34px 0 34px 0.7rem ;
    }
}
@media screen and (max-width:500px){
    header {
        height: 55px;
    }
    header .logo {
        width: 45px;
        height: 45px;
        margin: 5px 0;
    }
    header .gnb li {
        display: inline-block;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 17px 0.3rem ;
    }
    header .gnb li:last-child {
        padding: 17px 0 17px 0.3rem ;
    }
}
@media screen and (max-width:340px){
    header .gnb li {
        font-size: 1.125rem;
    }
}
/* //헤더 */


/* 홈 */
.home {
    padding-top: 120px;
    padding-bottom: 30px;
    background: url(../img/main_backgound.png) no-repeat center bottom;
}
.home .home_box {
    width: 100%;
    height: 750px;
    margin-bottom: 30px;
    display: flex;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}
.home .home_img {
    width: 43%;
    height: 100%;
    position: relative;
    padding: 15px;
}
.home .home_img .home_img_center {
    width: 100%;
    height: 720px;
    background: url(../img/profile_web.png) no-repeat center center;
    background-size: cover;
    position: relative;
}
.home .home_img .home_img_center::before {
    content:'';
    width: 100%;
    height: 720px;
    border: 2px solid #b5cbde;
    position: absolute;
    top: -15px;
    left: -15px;
    box-sizing: border-box;
}
.home .home_img .home_img_center::after {
    content:'';
    width: 100%;
    height: 720px;
    border: 2px solid #dae5ee;
    position: absolute;
    bottom: -15px;
    right: -15px;
    box-sizing: border-box;
}
.home .home_txt {
    width: 57%;
    height: 100%;
    padding: 4% 4.5%;
}
@media screen and (max-width:1400px){
    .home .home_txt { 
        padding:3% 3.5%;
    }
}
@media screen and (max-width:1000px){
    .home {
        background: url(../img/main_backgound_tab.png) no-repeat center bottom;
        padding-top: 110px;
    }
    .home .home_box {
        flex-direction: column;
        height: auto;
    }
    .home .home_img {
        width: 100%;
    }
    .home .home_txt {
        width: 100%;
        padding: 1.2rem 0.5rem;
    }
    .home .home_img {
        padding: 10px;
    }
    .home .home_img .home_img_center {
        width: 100%;
        height: 750px;
        background: url(../img/profile_web.png) no-repeat center center;
        background-size: cover;
        position: relative;
    }
    .home .home_img .home_img_center::before {
        content:'';
        width: 100%;
        height: 750px;
        border: 2px solid #b5cbde;
        position: absolute;
        top: -15px;
        left: -15px;
        box-sizing: border-box;
    }
    .home .home_img .home_img_center::after {
        content:'';
        width: 100%;
        height: 750px;
        border: 2px solid #dae5ee;
        position: absolute;
        bottom: -15px;
        right: -15px;
        box-sizing: border-box;
    }

    .home .home_img .home_img_center {
        height: 55.0000vw;
        min-height: 350px;
        background: url(../img/profile_tab.png)no-repeat center center;
        background-size: cover;
    }
    .home .home_img .home_img_center::before {
        height: 55.0000vw;
        min-height: 350px;
        top: -10px;
        left: -10px;
    }
    .home .home_img .home_img_center::after {
        height: 55.0000vw;
        min-height: 350px;
        bottom: -10px;
        right: -10px;
    }
}
@media screen and (max-width:768px){
    .home .home_txt {
        padding: 1rem 0.5rem;
    }
}
@media screen and (max-width:500px){
 .home{padding-top: 65px;}
 .home .home_txt {
    padding: 1rem;
}
 .home .home_img .home_img_center {
    background-position: 55%;
}
.home .home_img .home_img_center::before {
    border: 1px solid #b5cbde;
}
.home .home_img .home_img_center::after {

    border: 1px solid #dae5ee;
}
}
/* 홈 - 컨텐츠 - 텍스트 */

.home_txt_intro {
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.home_txt_intro .txt_hello {
    font-size: 3.75rem;
}
.home_txt_intro .txt_name {
    text-decoration: underline 10px solid #b5cbde;
    text-underline-offset: -2px;
}
.home_txt_intro .txt_color{
    color: #b5cbde;
}
.home_txt_intro .txt_color .txt_em{
    font-size: 68px;
    line-height: 5.3rem;
}
.home_txt_con {
    font-size: 1.25rem;
    line-height: 2rem;
}
.home_txt_con .txt_con_tit {
    margin-bottom: 30px;
}
.home_txt_con .txt_con_tit br {
    display: none;
}
.home_txt_con .underline {
    text-decoration: underline 5px solid #b5cbde;
    text-underline-offset: -1px;
}
.gh_btn { margin-top: 30px; }
.gh_btn a{
    padding: 10px 13px;
    /* width: 140px;
    height: 40px; */
    border: 2px solid #b8c4bb;
    font-size: 16px;
    font-weight: 500;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: #b8c4bb;
    cursor: pointer;
  }
  
  .gh_btn a:hover {
    background: #b8c4bb;
    color: #fff;
    transition: all ease-in 0.2s;
  }
@media screen and (max-width:1000px){
    .home_txt_con .txt_con_tit br {
        display: inline-block;
    }
    .home_txt_intro {
        margin-bottom: 30px;
        font-size:3.2rem ;
        line-height: 4.3rem;
    }
    .home_txt_intro .txt_hello {
        font-size: 3.5rem;
    }
    .home_txt_con {
        line-height: 1.8rem;
        font-size: 1.2rem;
    }
}
@media screen and (max-width:768px){
    .home_txt_intro {
        font-size: 3rem;
        line-height: 1.25;
    }
    .home_txt_intro .txt_hello {
        font-size: 3.25rem;
    }
    .home_txt_intro .txt_color .txt_em{
        font-size: 3.8rem;
        line-height: 5rem;
    }
    .home_txt_con {
        font-size: 1.125rem;
    }
}
@media screen and (max-width:500px){
    .home_txt_intro {
        font-size: 2.7rem;
        margin-bottom: 20px;
    }
    .home_txt_intro .txt_hello {
        font-size: 2.3rem;
    }
    .home_txt_intro .txt_color .txt_em{
        font-size: 3.3rem;
        line-height: 3.9rem;
    }
    .home_txt_con .txt_con_tit {
        margin-bottom: 20px;
    }
}
/* //홈 */

/* 프로필 */
.profile .content{
    display: flex;
    gap: 2%;
    font-size: 1.25rem;
    line-height: 2rem;
}

.profile_left {
    background: #b3c8da80;
    width: 350px;
    height: auto;
    border-radius: 45px;
    text-align: center;
    padding: 3.5%;
}

.profile_img { 
    margin: 0 auto;
    position: relative;
    /* width: 65%; */
}
.profile_img img {
    width: 100%;
    border: 1px solid #b5cbde;
}


.profile_txt{
    margin-top: 20px;
    text-align: left;
}
.profile_txt span {
    font-weight: 600;
    margin-right: 10px;
}


.profile_right{
    background: #b3c8da80;
    width: 73%;
    height: auto;
    border-radius: 45px;
    padding: 3.5%;
    display: flex;
    gap: 5%;
    justify-content: space-between;
}
.profile_l{
    width: 46%;
}
.profile_r{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.activity p {
    margin-bottom: 13px;
}
.activity p:nth-child(n+5) {
    margin-bottom: 0;
}
.activity .act_tit {
    margin-bottom: 18px;
}
.activity span {
    font-size: 1.75rem;
    font-weight: 600;
}
.license {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.profile_right .underline {
    text-decoration: underline 7px solid #b5cbde;
    text-underline-offset: -2px;
}

@media screen and (max-width:1000px){
    .profile_left {
        background: #b3c8da80;
        width: 291px;
        border-radius: 35px;
        padding: 30px;
    }
    .profile_right{
        flex-direction: column;
        border-radius: 35px;
        padding: 30px;
    }
    .profile_l,.profile_r{
        width: 100%;
    }
    .profile_r{
        gap:0;
    }
    .profile_r .activity {
        height:auto;
    }
    .activity p {
        margin-bottom: 1%;
    }
    .activity .act_tit {
        margin-bottom: 2%;
    }
    .profile_right .activity {
        margin-bottom: 3%;
    }
    .profile_r .activity:last-child {
        margin-bottom: 0;
    }
    
}
@media screen and (max-width:768px){
    .profile .content {
        flex-direction: column;
        gap: 25px;
    }
    .profile_left {
        width: 100%;
        height: auto;
        min-height: auto;
        display: flex;
        justify-content: flex-start;
        gap: 5%;
        border-radius: 30px;
    }
    .profile_img { 
        margin: 0;
        position: relative;
        /* width: 30%; */ width: 180px;
    }
    .profile_txt {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .profile_right {
        width: 100%;
        height: auto;
        min-height: auto;
        border-radius: 30px;
    }
    .activity p {
        margin-bottom: 10px;
    }
    .activity .act_tit {
        margin-bottom: 15px;
    }
    .profile_right .activity {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:470px){
    .profile_left {
        display: inline-block;
        border-radius: 30px;
        padding: 10%;
    }
    .profile_txt {
        margin-top: 20px;
    }
    .profile_img {
        width: 100%;
    }
    .profile_right {
        border-radius: 30px;
        padding: 10%;
    }
}
@media screen and (max-width:350px){
    .profile .content {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    .profile_txt {
        line-height: 1.75rem;
        margin-top: 20px;
    }
    .activity{
        margin-bottom: 7%;
    }

    .activity span {
        font-size: 1.6rem;
    }

}
/* //프로필 */



/* 스킬 */

.skill {
    background: #dae5ee;
    position: relative;
}
.skill .content {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}
.skill .content ul {
    /* padding: 120px 0 325px 0; */
    padding: 8% 0 23% 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.skill .content ul li .skill_txt {
    text-align: center;
    padding: 20px;
    font-weight: 900;
}
.skill .content ul li .skill_num  {
    font-size: 3rem;
}
.skill .content ul li .skill_percent {
    font-size: 2rem;
}
.skill .content ul .skill_icon {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.skill .content ul .html .skill_icon {
    background: url(../img/html_icon.png)no-repeat center;
    background-size: contain;
}
.skill .content ul .css .skill_icon {
    background: url(../img/css_icon.png)no-repeat center;
    background-size: contain;
}
.skill .content ul .js .skill_icon {
    background: url(../img/js_icon.png)no-repeat center;
    background-size: contain;
}
.skill .content ul .ps .skill_icon {
    background: url(../img/photoshop_icon.png)no-repeat center;
    background-size: contain;
}
.skill .content ul .ai .skill_icon {
    background: url(../img/ai_icon.png)no-repeat center;
    background-size: contain;
}
.skill .content ul .figma .skill_icon {
    background: url(../img/figma_icon.png)no-repeat center;
    background-size: contain;
}

@media screen and (max-width:1000px){
    .skill .content ul {
        grid-template-columns: repeat(3, 1fr);
        gap:10% 5%;
        padding: 0 0 23% 0;
    }
}
@media screen and (max-width:768px){
    .skill .content ul .skill_icon{
        width: 130px;
        height: 130px;
    }
}
@media screen and (max-width:500px){
    .skill .content ul {
        grid-template-columns: repeat(2, 1fr);
        gap:3%;
        padding: 0 0 20% 0;
    }
    .skill .content ul .skill_icon {
        width: 90px;
        height: 90px;
    }
    .skill .content ul li .skill_txt {
        font-weight: 700;
        padding: 15px;
    }
    .skill .content ul li .skill_num{
        font-size: 2rem;
    }
}


.cloud_bg {
    width: 100%;
    height: 100%;
    /* position: absolute;
    top: 0;
    left: 0; */
}
.cloud_bg .cloud {
    display: block;
    position: absolute;
    opacity: 0.5;
}
.cloud_bg .cloud:nth-child(1){
    width: 20%;
    height: 200px;
    background: url(../img/cloud1.png)no-repeat center bottom;
    background-size: contain;
    bottom: 5px;
    animation: swell 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
.cloud_bg .cloud:nth-child(2){
    width: 20%;
    height: 200px;
    background: url(../img/cloud2.png)no-repeat center bottom;
    background-size: contain;
    bottom: 5px;
    right: 0;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
.cloud_bg .cloud:nth-child(3){
    width: 18%;
    height: 200px;
    background: url(../img/cloud3.png)no-repeat center;
    background-size: contain;
    bottom: 80px;
    right: 35%;
    animation: swell 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
.cloud_bg .cloud:nth-child(4){
    width: 15%;
    height: 150px;
    background: url(../img/cloud4.png)no-repeat center;
    background-size: contain;
    top: 100px; left: 33%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.cloud_bg .cloud:nth-child(5){
    width: 15%;
    height: 170px;
    background: url(../img/cloud5.png)no-repeat center;
    background-size: contain;
    top: 130px; right: 10%;
    animation: swell 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

  @keyframes wave {
    0%, 100% {
        transform: translate3d(0,5px,0);
      }
      50% {
        transform: translate3d(0,-25px,0);
      }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }


@media screen and (max-width:1000px){
    .cloud_bg .cloud:nth-child(3){
        bottom: 7%;
        right: 25%;
    }
    .cloud_bg .cloud:nth-child(4){
        /* top: 45px;
        left: 33%; */
        top: 47%;
        left: 23%;
        width: 19%;
    }
    .cloud_bg .cloud:nth-child(5){
        top: 75px;
        right: 20%;
        width: 21%;
    }
}
@media screen and (max-width:768px){
    .cloud_bg .cloud:nth-child(5){
        top: 50px;
    }
}
@media screen and (max-width:500px){
    .cloud_bg .cloud:nth-child(1){
        width: 25%;
    }
    .cloud_bg .cloud:nth-child(2){
        width: 25%;
    }
    .cloud_bg .cloud:nth-child(3){
        right: 34%;
        bottom: 155px;
        width: 22%;
    }
    .cloud_bg .cloud:nth-child(4){
        left: 3%;
        top: 255px;
        width: 22%;
    }
    .cloud_bg .cloud:nth-child(5){
        top: 0;
        right: 3%;
        width: 22%;
    }
}


/* //스킬 */





/* 포트폴리오 */
.portfolio .content {
    font-family: "NanumSquareNeo-Variable";
    color: #444444;
}
.portfolio .sub_tit {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: right;
    color:#677c8e;
    font-family: 'Pretendard';
}
.pofol_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
    margin: 4% 0;
    width: 100%;
    height: 100%;
}

.pofol_img {
    width: 750px;
    height: 477px;
    border-radius: 30px;
    box-shadow: 0 5px 20px 0 #42414240;
    display: inline-block;
}
.mof{
    background: url(../img/mof.png)no-repeat center;
    background-size: cover;
}
.melon{
    background: url(../img/melon.png)no-repeat center;
    background-size: cover;
}
.usk{
    background: url(../img/universalstudio.png)no-repeat center;
    background-size: cover;
}
.pofol{
    background: url(../img/portfolio.png)no-repeat center;
    background-size: cover;
}
.dosiraktong{
    background: url(../img/dosiraktong.png)no-repeat center;
    background-size: cover;
}
.pofol_tit p {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 5% 0;
}
.pofol_con p {
    font-size: 1.125rem;
    margin-bottom: 20px;
}
.pofol_con p:last-child{
    margin-bottom: 0;
}
.pofol_con p span {
    font-size: 1.25rem;
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
}




@media screen and (max-width:1200px){
    .pofol_img {
        width: 62.5000vw;
        height: 39.7500vw;
    }

    /* .pofol_box {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .pofol_img {
        width: 100%;
        border-radius: 30px;
    } */
    .pofol_con p {
        margin-bottom: 3%;
    }
}
@media screen and (max-width:850px){
    .pofol_box {
        grid-template-columns: none;
        gap: 0;
        display: inline-block;
    }
    .pofol_img {
        width: 100%;
        height: 61.2056vw;
        border-radius: 30px;
    }
    .pofol_txt {
        text-align: center;
    }
}
@media screen and (max-width:768px){
.portfolio .sub_tit {
    font-size: 1.8rem;
}
}
@media screen and (max-width:600px){
    .pofol_tit p{
        font-size: 2rem;
    }
}

@media screen and (max-width:500px){
    .pofol_tit p{
        margin: 7% 0;
        font-size: 1.7rem;
    }
    .pofol_con p{
        font-size: 1rem;
    }
    .pofol_con p span{
        font-size: 1.125rem;
    }
    .portfolio .sub_tit {
        font-size: 1.3rem;
    }
}
/* //포트폴리오 */






/* 포트폴리오 탭메뉴 */


.tab{
    /* float:left;  */
    width:100%; height: 100%;margin-top: 5%;}
.tabnav{font-size:0; border-bottom:2px solid #b5cbde;}
.tabnav li{display: inline-block;  height:55px; text-align:center;}

.tabnav li a{ 
  position:relative; 
  display:block;  
  font-family: 'Pretendard'; 
  font-size: 1.4375rem; 
  color: #dbdbdb; 
  padding:0 30px; 
  line-height:55px; 
  text-decoration:none; 
  border-bottom: 2px solid #b5cbde;}
/* #96b2c9 #8ba4b9 */
.tabnav li a.active{ 
  color:#b5cbde; 
  border: 2px solid #b5cbde; 
  border-bottom:2px solid #f5f5f5; }
.tabcontent{padding-top: 3%; border-top:none;}


@media screen and (max-width: 768px) {
    .tab {margin-top: 5%;}
}


@media screen and (max-width: 700px) {
  .tab{clear: both;}
  .tabnav {
    border-bottom: none;
    width: auto;
  }
  .tabnav li{
    height: 46px;
    margin-bottom: 10px;
  }

  .tabnav li a{
    font-size: 1.25rem;
    padding: 0 25px;
    line-height: 46px;
    border: 1px solid #dbdbdb;

    margin-right: 10px;
    color: #dbdbdb;
  }
  .tabnav li:last-child a{
    margin-right: 0;
  }
  .tabnav li a.active{
    border: 2px solid #b5cbde;
  }



}


@media screen and (max-width: 630px) {
  .tabnav li{
    height: 40px;
    margin-bottom: 10px;
  }

  .tabnav li a{
    font-size: 1.125rem;
    padding: 0 15px;
    line-height: 40px;
    border: 1px solid #dbdbdb;

    margin-right: 10px;
    color: #dbdbdb;
  }

/* 임의의 영역 생성 */
.scrollBar { 
  overflow-x: scroll;
  white-space: nowrap;
}

/* 아래의 모든 코드는 영역::코드로 사용 */
.scrollBar::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.scrollBar::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #b5cbde; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: #b5cbde31;  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}


}


/* 푸터 */
.footer {
    position: relative;
    display: block;
    width: 100%;
    /* height: 255px; */
    font-family: "Pretendard-Regular";
    background: #b5cbde;
  }
  
  .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
  }
  
  .footer-top {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
    line-height: 25px;
    color: #2f2f2f;
  }
  
  .footer-bottom {
    font-size: 16px;
    margin: 10px 0;
    color: #677c8e;
  }
  @media screen and (max-width:1000px){
    .footer-box {
        padding: 7.7% 0;
      }
  }
  @media screen and (max-width:500px){
    .footer-top {
        font-size: 16px;
      }
    /* .footer-box {
        padding: 16% 0;
    } */
}
  @media screen and (max-width:360px){

    .footer-top {
        font-size: 16px;
      }
      .footer-bottom {
        font-size: 14px;
      }
  }



